<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<script src="/scripts/utilities.js"></script>	
  <link href="/styles/style.css" type="text/css" rel="stylesheet"/>
	<link rel="icon" href="/images/favicon.ico"/>
  <title>Challenge 1 - Blog</title>
</head>
<body>
	<header id="header">
		<div><a href="/" id="home-link">Home</a></div>
		<div><a class="toggle open" href="#menu">Menu</a></div>
		{{#if currentUser}}
			<div><a href="/user/profile/{{currentUser._id}}">{{currentUser.username}}</a></div>
			<form id='logout-form' action='/user/logout' method="POST"></form>
			<div><a href="javascript:document.getElementById('logout-form').submit()">Logout</a></div>
		{{else}}
			<div><a href="/user/login" id="login">Log in</a></div>
			<div><a href="/user/register">Register</a></div>
		{{/if}}
	</header>
	<nav class="aside-menu" id="menu">
		<a class="toggle close" href="#">×</a>
		<p id="menu-label">User Menu</p>
		<ul>
			<li><a href="/article/create">Create article</a></li>
			{{#if currentUser}}
				<li><a href="/article/list/{{currentUser._id}}">Your articles</a></li>
			{{else}}
				<li><a href="/user/login">Your articles</a></li>
			{{/if}}
				<li>Have lunch</li>
			{{#if currentUser}}
				<li><a href="/user/comments/{{currentUser._id}}">Your comments</a></li>
			{{else}}
				<li><a href="/user/login">Your comments</a></li>
			{{/if}}
			<li>Favourites</li>
		</ul>
	</nav>
	<article class="main-content" id="content">
		{{#if globalError}}
			<h3 class="notif">{{globalError}}</h3>
		{{/if}}
    {{{ body }}}
  </article>
	<footer  id="footer"></footer>
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
	<script src="/scripts/jquery.mousewheel.min.js"></script>
	<script src="/scripts/scroll.js"></script>
</body>
</html>