<div class="main-user-profile">
  <p id="profile-pic"><img id="profile-pic-image" src="/{{user.avatar}}"/></p>
  <div id="profile-descr">
    {{#isSameUser currentUser._id user._id}}
      <a href="/user/edit-profile/{{user._id}}">Edit your profile</a>
    {{/isSameUser}}
    <p><span class="profile-label">Username: </span> {{user.username}}</p>
    <p id="profile-name"><span class="profile-label">Name: </span> {{user.firstName}} {{user.lastName}}</p>
    <p><span class="profile-label">A short introduction: </span></p>
    <p id="profile-bio"> {{user.bio}} </p>
    <p><span class="profile-label">{{possessive user.username}} articles: </span><a href="/article/list/{{user._id}}" id="profile-articles-link">Click!</a></span></p>
    <p><span class="profile-label">{{possessive user.username}} comments: </span><a href="/user/comments/{{user._id}}" id="profile-articles-link">Click!</a></span></p>
  </div>
</div>