<div class="details-wrapper">
  <div class="details-article-title">{{this.title}}</div>
  <p class="details-article-author">
    By: <a href="/user/profile/{{this.authorId}}">{{this.authorName}}</a>
    {{#checkOwnership currentUser._id this.authorId }}
      <div>
        <form action="/article/edit/:id" class="edit" method="post">
			    <input type="submit" value="Edit Post">
		    </form>
		    <form action="/article/delete/:id" class="delete" method="post">
			    <input type="submit" value="Delete Post">
		    </form>
	    </div>
    {{/checkOwnership}}
  </p>
  <div class="details-article-body">{{this.bodyText}}</div>
</div>
<div class="comment-posts"><span id="comments-label">Comments:</span>
  {{#each this.comments}}
  <div class="comment-wrapper">
    <div class="comment-author-picture-wrapper">
      <img class="comment-author-pic" src="{{this.authorAvatar}}"/>
    </div>
    <div class="comment-post">
      <div class="comment-author">
        <a href="/user/profile/{{this.authorId}}">{{this.authorName}}</a><br>
        <span class="timestamp">{{this.createdAt}}</span><span class="comment-likes">Likes: {{this.commentLikes}}</span>
      </div>
      <div class="comment-body">{{this.commentBody}}</div>
    </div>
  </div>
  {{else}}
    <div>This post has no comments yet</div>
  {{/each}}
  {{#if currentUser}}
    <h4 id="comment-text">Add your comment</h4>
    <form id="add-article-comment" action="/article/postComment/{{this._id}}/{{currentUser._id}}" method="post">
      <textarea id="commentBody" name="commentBody" class="user-text-input comment" cols="10" rows="10"></textarea>
      <input id="comment-button" type="submit" class="commentButton" value="Your 2¢">
    </form><br>
  {{/if}}
</div>
<div class="clear-after"></div>